grant codeBase "file:target/enigma-provider.jar" {
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.security.SecurityPermission
      "insertProvider.Enigma";
};
