grant codeBase "file:target/keychain-provider.jar" {
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.security.SecurityPermission
      "insertProvider.KeyChain";
};
